extends layout

block layout-content
  div.View.WelcomeView
    div.Message
      div.Title
        h1 About the Application
        table(align='left')
          tr
            th Developer: 
            td James Bibby
          tr
            th  Platform: 
            td NodeJS, Express, PUG, MySQL

