extends layout

block layout-content
  div.View.WelcomeView
    div.Message
      div.Title
        h1 Welcome to the Calorie Buddy Application
      span.Details This application allows you to view the calories in common foods.   You can also update the calories and add your own foods

