block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    link(rel="stylesheet" href="/style.css")
    script(src="https://kit.fontawesome.com/14b830d276.js" crossorigin="anonymous")
    title #{title} | CalorieBuddy
  body
    div#root
      div.View
        h1.Banner Calorie Buddy
        div.NavButtons
          a(href="/")
            div.NavButton Home
          a(href="/about")
            div.NavButton About
          a(href="/food/list")
            div.NavButton List Foods
          a(href="/food/search")
            div.NavButton Search Foods
          a(href="/food/add")
            div.NavButton Add Foods
        block layout-content